:root {
    --heading-backgroun-color: #FAF0CA80;
    --heading-text-color: #f95738;
    --heading-font: 'Koh Santepheap';
    --padding: 1rem;
    --paragraph-background-color: #EE964B80;
    --paragraph-color: black;
    --paragraph-font: Lato;
    --nav-font: 'Lato 400';
    --footer-backgroun-color: #faf0ca;
    --footer-text-color: #f95738;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header main footer section {
    max-width: 1000px;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: 5px;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
    background-color: var(--heading-backgroun-color);
    color: var(--heading-text-color);
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    padding: var(--padding);
}

main {
    width: 100%;
    height: auto;
}


p {
    font-family: var(--paragraph-font);
    padding-left: var(--padding);
}


footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: var(--padding);
    background-color: var(--footer-backgroun-color);
    color: var(--footer-text-color);
    font-family: Roboto;
    font-weight: bold;
    margin: 0;
}

footer p {
    margin: 0 auto;
    text-align: center;
    align-self: center;
    justify-self: start;

}



/* Class Selectors */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    background-color: var(--heading-backgroun-color);
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 35%;
    left: 10%;
    width: 80%;
    background-color: var(--paragraph-background-color);
    padding: var(--padding);

}

.hero article img {
    float: right;
    width: 30%;
    height: auto;
    margin-left: 1rem;
}

.sociallinks {
    text-decoration: none;
    width: 10%;
    height: auto;
    align-self: center;
    justify-content: end;
}

.sociallinks img {
    width: 24px;
    height: auto;
}

.adventure img {
    display: block;
    width: 80%;
}

.logo {
    grid-column: 1;
    margin: 0 0.25px 0 1rem;
    box-shadow: 0 0 30px gray;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: right;
    font-family: var(--nav-font);
    color: var(--heading-text-color);
    flex: 1 1 auto;

}

.navigation a:hover {
    color: #F95738;
    font-weight: 900;
    text-decoration: underline;
}



.navigation a {
    display: block;
    color: #0D3B66;
    padding: 20px;
    text-decoration: none;

}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: var(--padding);

}

.history h2 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/2;

}

.herocontactus {
    position: relative;
}

.herocontactus img {
    display: block;
    width: 100%;
    height: auto;
}

.herocontactus h1 {
    position: absolute;
    top: 40%;
    background-color: var(--heading-backgroun-color);
    width: 100%;
    text-align: center;
}

.herocontactus article {
    position: absolute;
    bottom: 35%;
    left: 10%;
    width: 80%;
    background-color: var(--paragraph-background-color);
    padding: var(--padding);

}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
}

.team h2 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.team img {
    width: 100%;
}

.contactus {

}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 /0.1);
    border-radius: 1rem;
    background-color: #eee;
    display: grid;
    font-family: Roboto;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: .5rem;
    padding:  1rem;
    border: none;
}

form h2 {
    text-align: center;
    margin-bottom: 1rem;
}

form p {
    text-align: center;
    margin-bottom: 1rem;
    color: #666;
}

legend {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: .5rem;
}

.userdata {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.userdata input {
    padding: 5px;
}

.purpose {
    display: flex;
}

.purpose .radio {
    display: flex; comentario
    align-items: center;

}
.radio p {
    
}






