:root {
    --heading-backgroun-color: #FAF0CA50;
    --heading-text-color: black;
    --heading-font: 'Koh Santepheap';
    --padding: 1rem;
    --paragraph-background-color: #EE964B80;
    --paragraph-color: black;
    --paragraph-font: Lato;
    --nav-font: 'Lato 400';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    padding: var(--padding);
}

main {
    width: 100%;
    height: auto;
}

nav {
    font-family: var(--nav-font);
}

p {
    font-family: var(--paragraph-font);
    padding-left: var(--padding);
}


/* Class Selectors */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    background-color: var(--heading-backgroun-color);
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 35%;
    left: 10%;
    width: 80%;
    background-color: var(--paragraph-background-color);
    padding: var(--padding);

}

.hero article img {
    float: right;
    width: 30%;
    height: auto;
    margin-left: 1rem;
}

.sociallinks {
    text-decoration: none;
    width: 10%;
    height: auto;
    display: inline;
}

.sociallinks img {
    width: 20%;
    height: auto;
}

.adventure img {
    display: block;
    width: 80%;
}